 <div class="w-full py-6 px-3">
    <div class=" bg-white shadow-lg rounded-2xl overflow-hidden">
        <a href="{{ products_p.url }}">
            {% if products_p.featured_image %}
                <div class="h-72 overflow-hidden">
                    <img class="w-full h-full" src="{{ products_p.featured_image | image_url: width: 200, height:200  }}" alt="{{ products_p.featured_image.alt }}" width="200" height="200" >
                </div>
                {% else %}
                <div class="h-72 overflow-hidden">
                    {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100'  }}
                </div>
            {% endif %}
        </a>
        <div class="flex flex-col p-4">
            <span class="text-sm text-gray-400">{{ products_p.vendor }}</span>
            <a class="text-gray-700 uppercase font-medium" href="{{ products_p.url }}">{{ products_p.title }}</a>
            <p class="text-gray-500">{{ products_p.price | money }}</p>
        </div>
    </div>
 </div>