<article class="py-8" itemscope itemtype="http://schema.org/BlogPosting">
 {% for block in section.blocks %}
        {% case block.type %}
            {% when 'article_title' %}
                <div class="flex justify-center items-center">
                    <div class="max-w-7xl text-center">
                        <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">{{ blog.title }}</a>
                        <h1 class="text-4xl md:text-6xl font-medium uppercase" itemprop="headline">{{ article.title }}</h1>
                    </div>
                </div>
            {% when 'article_image' %}
                <div itemprop="image" class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden">
                        {% if article.image != blank %}
                            <img class="w-full h-80 md:h-96 object-contain object-center p-5"  src="{{ article.image | image_url: width: 700}}" 
                                 alt="{{ article.image.alt }}" 
                                 width="{{ article.image.width }}" 
                                 height="{{ article.image.height }}">
                              
                            
                            {% else %}
                                {% assign dummy_image = 'lifestyle-1' %}
                                {{ dummy_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
                        {% endif %}
                </div>
            {% when 'article_content' %}
                 <div class="flex justify-center items-center">
                        <div itemprop="articleBody" class="max-w-4xl px-4 text-justify md:px-8">
                            <p >{{ article.content }}</p>
                        </div>
                    </div>
               
            
            {% when 'article_date_publish' %}
                {% if section.settings.datetime %}
                    <div class="flex justify-center items-center">
                        <div class="max-w-7xl text-center">
                            <time itemprop="datePublished dateCreated" datetime="{{ article.published_at |date: '%Y-%m-%d' }}">{{ article.published_at | date:format: 'on_date'}}</time>
                        </div>
                    </div>
                {% endif %}
            {% when 'article_author' %}
                 <div class="flex justify-center items-center">
                        <div class="max-w-7xl text-center" itemscope itemtype="http://schema.org/Person">
                            {% if section.settings.author %}
                                <small itemprop="auther">{{ article.author }}</small>
                            {% endif %}
                           
                        </div>
                    </div>
    
              
            {% else %}
                
        {% endcase %}
    {% endfor %}
</article>

{% if blog.comments_enabled? %}
    <div id="comment" class="my-8">
        {% if article.comments_count > 0 %}
               <div class="flex-1 max-w-4xl px-8 mx-auto py-5 justify-center items-center   ">
                    <h2 class="text-lg mb-4 font-medium text-gray-700">See what people say</h2>
                    {% paginate article.comments by section.settings.number_of_comment %}
                        {% for comment in article.comments%}
                            <div class="flex-1 border rounded-2xl my-4 px-2 sm:px-6 sm:py-4 leading-relaxed">
                                <span class="comment-author text-gray-700 font-normal text-[18px]">{{ comment.author }}</span> <span class="text-[12px] text-gray-600">{{ comment.created_at|date:format: 'default'}}</span>
                                <p class="text-[14px] text-gray-500">{{ comment.content }}</p>
                            </div>
                        {% endfor %}
                        <div class="max-w-6xl mx-auto">
                            {% render 'pagination', pagesobj:paginate %}
                        </div>
                    {% endpaginate %}
                </div>
            {% else %}
                <div class="flex w-max-7xl py-5 justify-center items-center font-semibold text-gray-500 text-3xl">
                    There are no comments yet
                </div>
            {% endif %}       
                <div id="comment_form" class="mb-8">
                    {% form 'new_comment', article %}
                      <div class="flex-1 mx-auto items-center max-w-4xl  px-4">
                        {% if form.errors %}
                            <div class="border p-5">
                                <div class="flex flex-row items-center w-full my-3">
                                    <div class="text-red-500">
                                        {% render 'icon-error' %}
                                    </div>
                                    <div class="text-sm font-medium ml-3">
                                        Sorry! Unable to post your Comment
                                    </div>
                                </div>
                                <ul class="px-4 mb-3 ml-7 list-decimal">
                                     {% for error in form.errors %}
                                        <li>
                                            <span>
                                                {{ form.errors.messages[error] }}
                                            </span>
                                        </li>
                                     {% endfor %}   
                                </ul>
                            </div>
                        {% elsif form.posted_successfully? %}
                            <div class="flex flex-row items-center w-full my-3 p-5">
                                <div class="text-green-500">
                                    {% render 'icon-success' %}
                                </div>
                                <div class="text-sm font-medium ml-3">
                                    Comment Posted Successfully    
                                </div>
                            </div>
                        {% endif %}
                        <div class="px-1 md:flex mb-3">
                            <div class="px-3 md:w-1/2">
                            <label for="comment_author"  class="text-gray-700 font-medium uppercase text-xs mb-2">Name</label>
                            <input type="text" id="comment_author" name="comment[author]" placeholder="Ram Nath" required class="w-full text-gray-700 border py-3 px-4 mb-3 rounded-2xl focus:outline-gray-900">
                            </div>

                            <div class="px-3 md:w-1/2">
                            <label for="comment_email"  class="text-gray-700 font-medium uppercase text-xs mb-2">Name</label>
                            <input type="text" id="comment_email" name="comment[email]" placeholder="ramnath@domain.com" required class="w-full text-gray-700 border py-3 px-4 mb-3 rounded-2xl focus:outline-gray-900">
                            </div>
                        </div>
                        <div class="px-1 md:flex mb-3">
                            <div class="md:w-full px-3">
                                <label for="comment_content" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label>
                                <textarea name="comment[body]" id="comment_content" placeholder="Start writting from here..." class="w-full text-gray-700 py-3 border px-4  rounded-2xl focus:outline-gray-900"></textarea>
                            </div>
                        </div>
                        <div class="px-1 md:flex mb-3">
                            <div class="md:w-full px-3">
                                <input type="submit" value="POST" class="w-full cursor-pointer px-4 py-2 border rounded-2xl text-base font-medium text-white bg-gray-900 hover:bg-gray-600">
                            </div>
                        </div>
                      </div>
                    {% endform %}
                </div>
     
    </div>
{% endif %}
    
<script type="application/ld+json">
    {
    "@context":"http://schema.org",
    "@type":"BlogPosting",
    "headline":{{ article.title | json }},
    "articleBody":{{ article.content|strip_html | json }},
    {% if article.excerpt != blank %}
        "description":{{ article.excerpt | strip_html | json }}
    {% endif %}
    {% if article.image %}
        "image":[
            {{ article.image | image_url: 'medium' | prepend:'https:' | json }}
        ],
    {% endif %}
    "datePublished":{{ article.published_at | date:format: 'default' | json}},
    "dateCreated":{{ article.created_at | date: format: 'default' | json}},
    "author":{
    "@type":"Person",
    "name":{{ article.author | json }}
    },
    "publisher":{
    "@type":"Organization",
    "name":{{ shop.name | json }}
    }
    }
</script>
   

{% schema %}
    {
        "name": "Tempalte Article",
        "settings": [
            {
            "type": "checkbox",
            "id": "author",
            "label": "Author Name",
            "default":true
            },
            {
            "type": "checkbox",
            "label": "Show Time",
            "id": "datetime",
            "default":true
            },
             {
            "type": "range",
            "id": "number_of_comment",
            "label": "Number of Comment Show",
            "min": 1,
            "max": 6,
            "default":2,
            "step": 1
            }
        ],
        "blocks": [
            {
            "type": "article_title",
            "name":"Title",
            "limit":1
            },
             {
            "type": "article_author",
            "name":"Author Name",
            "limit":1
            },
             {
            "type": "article_date_publish",
            "name":"Publish Date",
            "limit":1
            },
             {
            "type": "article_image",
            "name":"Images",
            "limit":2
            },
             {
            "type": "article_content",
            "name":"Content",
            "limit":1
            }
        ]
    }
{% endschema %}