 <div class="px-4 py-8">
     {% paginate collection.products by 6 %}
        <h1 class="text-3xl text-center">{{ collection.title }}</h1>
        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for product in collection.products %}
                    <div class="w-full py-6 px-3">
                        <div class=" bg-white shadow-lg rounded-2xl overflow-hidden">
                            <a href="{{ product.url }}">
                                {% if product.featured_image %}
                                    <div class="h-72 overflow-hidden">
                                        <img class="w-full h-full" src="{{ product.featured_image | image_url: width: 200, height:200  }}" alt="{{ product.featured_image.alt }}" width="200" height="200" >
                                    </div>
                                {% endif %}
                            </a>
                            <span>{{ product.vendor }}</span>
                            <a href="{{ product.url }}">{{ product.title }}</a>
                            <p>{{ product.price | money }}</p>
                        </div>
                    </div>
                        {% else %}
                            <h3>There are no Products In your collecction  </h3>
                {% endfor %}
            </div>
        </div>
        {% render 'pagination' pagesobj:paginate  %}
    {% endpaginate %}
 </div>